.image-button {
    height: 25px;
    width: 25px;
    background-size: cover;
    background-repeat: no-repeat;
}

.badge-danger {
    font-size: 13px;
}

.remove-button {
    background-image: url("../../resources/deleteImage.png");
}

.edit-button {
    background-image: url("../../resources/editImage.png");
}

.save-button {
    background-image: url("../../resources/saveImage.png");
}

.cancel-button {
    background-image: url("../../resources/cancelImage.png");
}