* {
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
}

body {
    background-color: #E5E7E6;
    position: relative;
    color: #6D6D6D;
}

table {
    border-collapse: collapse;
}

/* header */
header {
    background-color: #FED624;
    min-height: 75px;
    font-size: 25px;
}

.small {
    font-size: 15px;
}

.header-wrapper {
    min-width: 100%;
    display: inline-block;
    margin: 20px 0;
}

.header-wrapper div {
    display: inline-block;
    width: calc(100% / 7);
    float: left;
    text-align: center;
    border-right: 1px solid grey;
    padding: 5px 0;
    color: #836F19;
    font-family: "Lucida Grande", sans-serif;
}

.header-wrapper a:hover {
    border-bottom: 2px solid #836F19;
    line-height: 1;
    cursor: pointer;
}

.header-wrapper div:first-child {
    color: #D50A1D;
}

.header-wrapper div:first-child a {
    border-bottom: 2px solid #D50A1D;
}

.header-wrapper div:nth-child(5),
.header-wrapper div:nth-child(6) {
    color: #D3B12C;
}

.header-wrapper div:last-child {
    border: none;
}

/* main-block */
.main-block-container {
    overflow-y: auto;
    max-height: 350px;
    max-width: 100%;
    margin-left: 10px;
}

.main-block {
    table-layout: fixed;
    width: 100%;
}

.main-block thead {
    border-bottom: 1px solid grey;
}

.main-block td, th {
    padding: 15px 0;
    text-align: center;
    font-size: 12px;
    font-family: Arial, sans-serif;
}

.main-block th {
    font-size: 15px;
}

.main-block td:nth-child(1) {
    font-size: 18px;
}

.main-block thead th:nth-child(3n),
.main-block td:nth-child(3n) {
    text-align: left;
}

.main-block td:nth-child(4) {
    font-weight: bold;
    font-size: 19px;
}

.main-block td:nth-child(5) {
    min-width: 340px;
}

input[type="text"] {
    width: 280px;
    padding: 3px 7px;
}

/* buttons */
.green-button, .white-button {
    min-width: 230px;
    min-height: 50px;
    margin: 35px 30px 45px 30px;
    font-size: 20px;
    font-family: Futura, sans-serif;
    color: #FFFFFE;
    background-image: linear-gradient(to bottom, #8FBA3A, #7DAA30);
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.3);
    border: 1px solid #628428;
    text-shadow: 0 1px 1px #7DAA30;
    cursor: pointer;
}

.buttons-wrapper {
    position: relative;
}

.green-button[value="Отменить"] {
    position: absolute;
    right: 250px;
}

.white-button {
    float: right;
    color: #AFAFAF;
    background-image: linear-gradient(to bottom, #F7F7F7, #CBCBCB);
    text-shadow: 0 1px 1px #CBCBCB;
    border: 1px solid #AFAFAF;
}

.green-button:hover {
    background-image: linear-gradient(to bottom, #7DAA30, #4D9A30);
}

.green-button:active {
    background-image: linear-gradient(to bottom, #4D9A30, #1D6A00);
}

.white-button:hover {
    background-image: linear-gradient(to bottom, #CBCBCB, #E7E7E7);
}

.white-button:active {
    background-image: linear-gradient(to bottom, #E7E7E7, #A7A7A7);
}

/* requests-header */
.requests-wrapper {
    position: relative;
    margin-top: 25px;
    color: #777777;
    font-family: "Fira Code", sans-serif;
}

.requests-wrapper .previous-requests {
    font-size: 22px;
    font-weight: bold;
    margin-left: 30px;
}

.requests-wrapper .update-date {
    position: absolute;
    right: 125px;
    font-size: 16px;
}

.update-image {
    width: 65px;
    height: 65px;
    right: 40px;
    vertical-align: middle;
    float: right;
    position: absolute;
    bottom: -15px;
    display: inline;
}

/* requests table */
.requests-container {
    overflow-y: auto;
    min-height: 230px;
    width: 100%;
}

.requests {
    table-layout: fixed;
    margin-top: 20px;
    padding-top: 3px;
    font-family: "Fira Code", sans-serif;
    width: 100%;
    border-collapse: separate;
}

.requests td, .requests th {
    padding: 15px 140px 15px 20px;
    font-size: 14px;
    text-align: left;
}

.requests thead {
    background-color: #FED624;
}

.shadow {
    background: #BDC6E3;
    box-shadow: 0 0 20px rgba(189, 199, 250, 0.9);
    border-radius: 10px;
}

.requests th {
    border-right: 1px dotted #C8A726;
}

.requests td {
    border-right: 1px dotted grey;
    border-top: 1px dotted white;
    border-bottom: 1px dotted grey;
}

.requests tbody tr:nth-child(1) td,
.requests tbody tr:nth-child(2) td {
    border-right: 1px dotted white;
}

.requests td:first-child {
    border-left: none;
}

.requests tbody tr:last-child td {
    border-bottom: none;
}

.requests th:first-child {
    border-top-left-radius: 10px;
}

.requests th:last-child {
    border-top-right-radius: 10px;
    border-right: none;
}

.requests td:last-child {
    width: 450px;
    border-right: none;
}

.requests tbody tr:first-child td {
    border-top: none;
}

.requests tbody tr:nth-child(1),
.requests tbody tr:nth-child(2) {
    background-color: #B6D4F8;
}

.requests tbody tr:nth-child(1) td:last-child,
.requests tbody tr:nth-child(2) td:last-child {
    position: relative;
}

.delete-image {
    position: absolute;
    right: 60px;
    top: 8px;
    border: none;
    padding: 0;
    margin: 0;
    height: 28px;
    width: 30px;
}

.requests td:nth-child(1),
.requests th:nth-child(1) {
    padding-left: 40px;
}