* {
    box-sizing: border-box;
}

body {
    background-color: #E5E7E6;
    position: relative;
}

table {
    border-collapse: collapse;
}

/* header */
header {
    background-color: #FED624;
    max-width: 100%;
    font-size: 25px;
}

.small {
    font-size: 15px;
}

#header thead {
    display: inline-block;
    margin: 20px 0;
}

#header td {
    display: inline-block;
    margin-left: 38px;
    border-right: 1px solid grey;
    padding: 5px 40px 5px 0;
    color: #836F19;
    font-family: "Lucida Grande", serif;
}

#header a:active {
    text-decoration: underline;
    cursor: pointer;
}

#header td:first-child {
    text-decoration: underline;
    color: #D50A1D;
}

#header td:nth-child(5),
#header td:nth-child(6) {
    color: #D3B12C;
}

#header td:last-child {
    border: none;
}

.header-wrapper {
    min-height: 75px;
    background-color: #FED624;
    width: 100%;
}

/* main-block */
.main-block {
    display: inline-block;
    overflow-y: auto;
    max-height: 350px;
    max-width: 100%;
    margin-left: 10px;
}

.main-block thead {
    border-bottom: 1px solid grey;
}

.main-block td, th {
    padding: 15px 20px;
    text-align: center;
    font-size: 13px;
}

.main-block th {
    font-size: 16px;
}

.main-block td:nth-child(1) {
    font-size: 18px;
}

.main-block thead th:nth-child(3n) {
    text-align: left;
}

.main-block td:nth-child(4) {
    font-weight: bold;
    font-size: 19px;
}

.main-block td:nth-child(5) {
    min-width: 340px;
}

input[type="text"] {
    width: 280px;
    padding: 3px 7px;
}

/* buttons */
.green-button, .white-button {
    min-width: 230px;
    min-height: 50px;
    margin: 35px 30px 45px 30px;
    font-size: 20px;
    font-family: Futura, sans-serif;
    color: #FFFFFE;
    background-image: linear-gradient(to bottom, #8FBA3A, #7DAA30);
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.3);
    border: 1px solid #628428;
    text-shadow: 0 1px 1px #7DAA30;
}

.buttons-wrapper {
    position: relative;
}

.green-button[value="Отменить"] {
    position: absolute;
    right: 250px;
}

.white-button {
    float: right;
    color: #AFAFAF;
    background-image: linear-gradient(to bottom, #F7F7F7, #CBCBCB);
    text-shadow: 0 1px 1px #CBCBCB;
    border: 1px solid #AFAFAF;
}

/* requests-header */
.requests-wrapper {
    position: relative;
    margin-top: 25px;
    color: #777777;
    font-family: "Fira Code", sans-serif;
}

.requests-wrapper .previous-requests {
    font-size: 22px;
    font-weight: bold;
    margin-left: 30px;
}

.requests-wrapper .update-date {
    position: absolute;
    right: 125px;
    font-size: 16px;
}

.update-image {
    width: 65px;
    height: 65px;
    right: 40px;
    vertical-align: middle;
    float: right;
    position: absolute;
    bottom: -15px;
    display: inline;
}

/* requests table */
.requests {
    overflow-y: auto;
    max-height: 230px;
    max-width: 100%;
    margin-top: 20px;
    display: inline-block;
    font-family: "Fira Code", sans-serif;
}

.requests td, .requests th {
    padding: 15px 60px 15px 20px;
    font-size: 14px;
    text-align: left;
}

.requests thead {
    background-color: #FED624;
}

.requests th {
    border-right: 2px dotted #C8A726;
}

.requests td {
    border-right: 2px dotted white;
    border-top: 2px dotted white;
}

.requests td:last-child {
    width: 450px;
}

.requests tbody tr:first-child td {
    border-top: none;
}

.requests tbody tr:nth-child(1),
.requests tbody tr:nth-child(2) {
    background-color: #B6D4F8;
}

.requests tbody tr:nth-child(1) td:last-child,
.requests tbody tr:nth-child(2) td:last-child {
    position: relative;
}

.delete-image {
    position: absolute;
    right: 60px;
    top: 8px;
    border: none;
    padding: 0;
    margin: 0;
    height: 28px;
    width: 30px;
}

.requests tr td:nth-child(1) {
    padding-left: 40px;
}