<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>{{ title }}</title>
    <link rel="stylesheet" href="/libs/bootstrap.css">
    <link rel="stylesheet" type="text/css" href="/stylesheets/phoneBook.css">
</head>
<body>
{% block body %}{% endblock %}
<script type="text/javascript" src="/libs/jquery.js"></script>
<script type="text/javascript" src="/libs/bootstrap.bundle.js"></script>
<script type="text/javascript" src="/libs/vue.js"></script>
<script type="text/javascript" src="/libs/underscore.js"></script>
<script type="module" src="/javascripts/phoneBook.js"></script>
</body>
</html>
