* {
    box-sizing: border-box;
}

.title {
    font-weight: bold;
    font-size: 35px;
    margin: 30px;
    text-decoration: underline;
}

.phone-book {
    margin-left: 30px;
    max-height: 200px;
    overflow-y: auto;
    float: left;
    margin-bottom: 20px; /*for browser's stretching*/
}

.phone-book thead {
    background-color: bisque;
}

.phone-book th,
.phone-book td {
    border: 1px solid black;
    padding: 5px 15px;
    font-size: 15px;
    text-align: center;
}

.phone-book th {
    font-weight: bold;
    font-size: 16px;
}

.input-form-wrapper {
    float: left;
    border: 2px dashed darkblue;
    max-width: 300px;
    box-shadow: 0 0 20px rgba(0, 0, 50, 0.5);
    margin-left: 100px;
}

.add-contact-title {
    border-bottom: 2px dashed darkblue;
    padding: 15px;
    font-size: 17px;
    font-style: italic;
    font-weight: bold;
    text-align: center;
    background-color: rgba(0, 0, 255, 0.1);
}

.input-form-wrapper label {
    display: block;
    margin: 15px;
}

.input-form-wrapper input[type="text"] {
    padding: 3px 5px;
    border: 1px solid cornflowerblue;
}

.input-form-wrapper .add-button {
    display: block;
    margin: 15px auto;
    cursor: pointer;
    padding: 7px;
    border-radius: 7px;
    background-image: linear-gradient(to bottom, white, lightgrey);
    font-weight: bold;
}

.input-form-wrapper .add-button:hover {
    background-image: linear-gradient(to bottom, aliceblue, skyblue);
}

.input-form-wrapper .add-button:active {
    background-image: linear-gradient(to bottom, deepskyblue, dodgerblue);
}

.background-image {
    height: 20px;
    width: 20px;
    margin: -5px -10px;
    cursor: pointer;
}

.invalid-form {
    border: 2px dashed darkred;
    box-shadow: 0 0 20px rgba(250, 0, 0, 0.5);
}

input[type="text"].invalid-input {
    border: 1px solid red;
    box-shadow: 0 0 10px rgba(250, 0, 0, 0.5);
}

.message-invalid {
    background-color: rgba(200, 0, 0, 0.5);
    border-bottom: 2px dashed darkred;
}

.warning-message {
    font-size: 14px;
    text-align: center;
    padding-top: 5px;
    color: darkred;
}