<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>ToDoList_Vue.js</title>
    <link rel="stylesheet" type="text/css" href="../node_modules/bootstrap/dist/css/bootstrap.css">
    <link rel="stylesheet" type="text/css" href="css/toDoList.css">
</head>
<body>
<div id="to-do-list-app" class="container">
    <h1 class="m-3 list-title">ToDo List</h1>
    <todo-list></todo-list>
</div>

<!-- templates for Vue components -->
<script type="text/x-template" id="todo-list-template">
    <div>
        <span v-if="isInputEmpty" v-text="warningMessage" class="badge badge-danger fixed-top"></span>
        <div class="row col-6 input-group m-3">
            <input type="text" id="add-form" class="form-control" placeholder="create an item"
                   v-model="currentToDoText">
            <div class="input-group-append">
                <button class="btn btn-outline-primary" type="button" @click="addItem">Add</button>
            </div>
        </div>
        <ul v-if="items.length"> List of notes:
            <todo-item v-for="item in items"
                       @remove-item="removeItem"
                       @cancel-item="cancelItem"
                       @cancel-changes="cancelChanges"
                       v-bind:item="item"
                       v-bind:key="item.id">
            </todo-item>
        </ul>
    </div>
</script>
<script type="text/x-template" id="todo-item-template">
    <li>
        <span v-if="!editableMode">{{ item.text }}
            <button type="button" @click="remove" title="remove" class="image-button remove-button"></button>
            <button type="button" @click="edit" title="edit" class="image-button edit-button"></button>
        </span>
        <span v-else>
            <input type="text" v-model="item.text">
            <button type="button" @click="save" title="save" class="image-button save-button"></button>
            <button type="button" @click="cancel" title="cancel" class="image-button cancel-button"></button>
        </span>
    </li>
</script>

<script type="text/javascript" src="../node_modules/vue/dist/vue.js"></script>
<script type="text/javascript" src="../node_modules/jquery/dist/jquery.js"></script>
<script type="text/javascript" src="../node_modules/bootstrap/dist/js/bootstrap.bundle.js"></script>
<script type="text/javascript" src="js/toDoList.js"></script>
</body>
</html>